{% extends "common/base-profile.html" %}
{% load static %}

{% block headerFiles %}
<script src="{% static 'meet/dropdown.js' %}"></script>
<link rel="stylesheet" href="{% static 'meet/schedule.css' %}">
<link rel="stylesheet" href="{% static 'meet/pagination.css' %}">
{% endblock %}

{% block content %}

<div class="title">{{title}}</div>

{% include "common/messages.html" %}

{% if meets %}
<ul style="list-style-type: none; margin: 0; padding: 0;">
    {% for m in meets %}
        <li>
            {% include "meet/meeting_info.html" %}
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% include "meet/new_meeting.html" %}

{% include "meet/pagination.html" %}


{% endblock %}
