<!-- hidden date fields for input validation in datePicker.js -->
<div class="hidden value" style="display: none">
    <input type="date" id="start_date_min" value={{project.startDate|date:"Y-m-d"}} readonly>
</div>

<!-- datePicker form -->
<form id="date_form" class="needs-validation" novalidate>
    <div class="form-row">
            <input style="display:inline-block; width:12rem;" type="date" id="start_date" name="start_date" value="{{startDate|date:"Y-m-d"}}" required="" class="form-control ">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3">
                <button style="width:5rem;" id="apply" class="btn btn-secondary" type="submit">Apply</button>
        </div>

    </div>
</form>
