
<a id="btn_{{m.id}}" class="btn btn-primary dropdown" data-toggle="collapse" href="#form_{{m.id}}" role="button" aria-expanded="false" aria-controls="collapseexample">
    {{m.date.weekday}} &middot; {{m.date.month}} &middot; {{m.date.day}} &middot; {{m.date.year}}
</a>

<div class="collapse" id="form_{{m.id}}">
    <div class="card card-body">

        <table style="table-layout: fixed; width: 100%">
            <tr>
                <th style="width: 60px;">
                    where
                </th>
                <td>
                    <p>
                    {% if m.location %}
                        {{m.location}}
                    {% else %}
                        TBD
                    {% endif %}
                    </p>
                </td>
            </tr>
            {% if m.link %}
                <tr>
                    <th >
                        link
                    </th>
                    <td style="word-wrap: break-word;">
                        <p>
                            <a class="edit-link" href="{{m.link}}" target="_blank"> {{m.link}} </a>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>when</th>
                <td>
                    <p>
                    <b>{{m.start}}</b> to <b>{{m.end}}</b>
                    </p>
                </td>
            </tr>
            <tr>
                <th>host</th>
                <td>
                    <p>
                    {% if m.host %}
                        <b>{{m.host.name}}</b> ({{m.host.pronouns}})<br>
                        <!-- {{m.host.name}} ({{m.host.pronouns}})<br> -->
                    {% else %}
                    TBD
                    {% endif %}
                    </p>
                </td>
            </tr>

            {% if m.about %}
            <tr>
                <th>about</th>
                <td>
                    <p>
                    {{m.about|linebreaksbr}}
                    </p>
                </td>
            </tr>
            {% endif %}

            {% if perms.meet.change_meeting %}
            <tr>
                <th style="padding-bottom:0.6rem"> <a class="edit-link" href="/meeting/{{m.id}}/update">
                    * edit</a></th>
                <td>
                    <p class="edit-title"> last modified by {{m.admin.username}}</p>
                </td>
            </tr>
            {% endif %}

        </table>

    </div>
</div>
<br>
