{% if perms.meet.add_meeting %}

<a id="btn_{{m.id}}" class="btn btn-primary dropdown" data-toggle="collapse" href="#form_{{m.id}}" role="button" aria-expanded="false" aria-controls="collapseexample">
    <!-- {% with meets|last as last %} -->
    <!-- {{last.date.month}} -->
    <!-- {% endwith %} -->
    new
    <span style="padding: 0 1rem 0 0.5rem;"> &middot;</span>
    <span style="padding: 0 1rem;"> &middot;</span>
    <span style="padding: 0 1rem;"> &middot;</span>
</a>


<div class="collapse" id="form_{{m.id}}">
    <div class="card card-body">
        <a href="/meeting/new" class="edit-link"> * create new meeting </a>
        <a href="/meeting/copy" class="edit-link"> * duplicate last meeting </a>
    </div>
</div>
<br>
{% endif %}
