<div class ="row justify-center">
    <div class="col-4 offset-4 text-center">
        {% if meets.has_previous or meets.has_next %}
        <p style="font-size:1.25rem;">

            {% if meets.has_previous %}
            <a id="prev" class="prev passive"
               href="?page={{ meets.previous_page_number }}"> <
            </a>
            {% else %}
            <span class="disabled"><span> < </span> </span>
                {% endif %}

            {% for i in meets.paginator.page_range %}
                {% if meets.number == i %}
                <span class="active">
                    <span id=page class="{{i}}">{{ i }}
                        <span class="sr-only">(current)</span>
                    </span>
                </span>
                {% else %}
                <span>
                    <a class="passive" href="?page={{ i }}">{{ i }}</a>
                </span>
                {% endif %}
            {% endfor %}

            {% if meets.has_next %}
                <a class="next passive" style="padding-left:0.rem;" id="next"
                   href="?page={{ meets.next_page_number }}"> >
                </a>
            {% else %}
                <span class="disabled"><span> > </span></span>
            {% endif %}
        </p>
        {% endif %}
    </div>
</div>
