{% extends "common/base-profile.html" %}
{% load static %}

{% block headerFiles %}
<!-- <script src="{% static 'meet/dropdown.js' %}"></script> -->
<!-- <link rel="stylesheet" href="{% static 'meet/schedule.css' %}"> -->
{% endblock %}

{% block content %}

<div class="title">{{title}}</div>

<p><i style="color: #ff00ff">(check multiple boxes if applicable)</i></p>

{% include "common/messages.html" %}

<!-- <form action="/vote" method="post" novalidate> -->
<form action="/vote" method="post">
    {% csrf_token %}

    {% for f in form.visible_fields %}
        {{ f }} {{ f.label_tag }} <br>
    {% endfor %}
    <br>
    <button class="btn btn-primary btn-save btn-password" style="width: auto; margin-bottom: 2rem;" type="submit">Submit</button>
</form>
{% endblock %}
