{% extends "common/base-profile.html" %}
{% load static %}

{% block headerFiles %}
<script src="{% static 'meet/datePicker.js' %}"></script>
<script src="{% static 'meet/dropdown.js' %}"></script>
<link rel="stylesheet" href="{% static "meet/checkbox.css" %}">

<!-- Time Picker -->
<link rel="stylesheet" href="{% static "meet/timePicker.css" %}">
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<script src="{% static 'meet/timePicker.js' %}"></script>
{% endblock %}

{% block content %}

<div class="title">{{title}}</div>

{% include "common/messages.html" %}



<form id="meeting-form" method="post">
    {% csrf_token %}

    {% for f in form %}
        {% ifnotequal f.name "visible" %}
            <a id="btn_{{f.name}}" class="btn btn-primary dropdown" data-toggle="collapse" href="#form_{{f.name}}" role="button" aria-expanded="false" aria-controls="collapseexample">
                {{f.name}}
            </a>

            <div class="collapse" id="form_{{f.name}}" .id}}">
                <div class="card card-body">
                    {% if f.help_text %}
                        <span class="help">*{{f.help_text}}</span>
                        {% endif %}
                    {{f}}
                </div>
            </div>
            <br>
            {% ifequal f.name "end" %}
                <!-- hidden date field for input validation in datePicker.js -->
                <!-- also used by timePicker.js to hide input keyboard -->
                <input style="display: none" type="date" id="date_min"
                    value={{date_min|date:"Y-m-d"}} readonly>
            {% endifequal %}

        {% else %}
            <div class="pb-3">
                <span class="visible-title"> {{f.name}}</span>
                <span class="visible-box"> {{f}}</span>
            </div>
        {% endifnotequal %}
    {% endfor %}


    <!-- Back/Save  -->
    <div class="container-fluid px-0 pb-4">
        <div class="row justify-content-between">
            <div class="col-5 col-md-4">
        <a class="btn btn-primary btn-save" href={{back}}>cancel</a>
            </div>
            <div class="col-5 col-md-4" >
                <button class="btn btn-primary btn-save" type="submit">save</button>
            </div>
        </div>
    </div>

</form>


{% endblock %}
