{% load static %}

<div class ="text-center">
    <a class="navbar-brand" href="/"> m&middot;a&middot;g&middot;i&middot;q&middot;u&middot;e&middot;</a>
</div>

<nav class="navbar navbar-light sticky-top bg-white">
    <title> magique.club</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

    <div class ="navbar-header">

        <div class="navbar-menu bg-warning">
            <!-- Menu button -->
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target=.navbar-collapse aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar icon-bar-top"></span>
                <span class="icon-bar icon-bar-bottom"></span>
            </button>
        </div>

    </div>

    <div style="display: none">
        <input type="text" id="active-item" value={{active}} readonly>
    </div>

    <div class="collapse navbar-collapse bg-warning">
        <ul class="nav navbar-nav text-center">
            <li id="about-item" class="nav-item">
                <a  class="nav-link" href="/about">about us</a>
            </li>
            <li id="safety-item" class="nav-item">
                <a  class="nav-link" href="/safety">group safety</a>
            </li>
            <li id="contact-item" class="nav-item">
                <a class="nav-link" href="/contact">contact</a>
            </li>
            {% if user.is_authenticated %}
                <li id="meet-item" class="nav-item">
                    <a class="nav-link" href="/schedule">schedule</a>
                </li>
                <li id="pod-item" class="nav-item">
                    <a class="nav-link" href="/pod">pod</a>
                </li>
                <li id="profile-item" class="nav-item">
                    <a class="nav-link" href="/profile">profile</a>
                </li>
                <li id="chairing-item" class="nav-item">
                    <a class="nav-link" href="/chairing">chairing</a>
                </li>
                {% if user.is_staff and admin %}
                    <li id="admin-item" class="nav-item">
                        <a class="nav-link" href="{{admin}}">admin</a>
                    </li>
                {% endif %}
                <li id="logout-item" class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">log out</a>
                </li>
            {% else %}
                <li id="login-item" class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">log in</a>
                </li>
            {% endif %}
        </ul>
    </div>

</nav>
