<li class="nav-item profile-menu">

    {% if user.is_authenticated %}

        <div class="dropdown">
            <a class="dropdown-toggle nav-link" id="dropdownMenuButton-account" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="true"> profile </a>
            <div class="dropdown-menu dropdown-menu-right" aria- labelledby="dropdownMenuButton-account" id="valueSelect">
                <h6 class="dropdown-header hover-color">logged in as <i>{{ user.username }}</i></h6>
                <a class="dropdown-item main-color" href="/profile">update profile</a>
                <a class="dropdown-item main-color" href="{% url 'logout' %}">logout</a>
            </div>
        </div>

    {% else %}

        <a class="nav-link" href="{% url 'login' %}">log in</a>

    {% endif %}

</li>
