.visible-title{
    padding-left: 1rem;
    font-weight: bold;
    font-size: 24px;
}

.visible-box{
    margin-left: 0.5rem;
}

input[type=checkbox]{
    -ms-transform: scale(1.25); /* IE */
    -moz-transform: scale(1.25); /* FF */
    -webkit-transform: scale(1.25); /* Safari and Chrome */
    -o-transform: scale(1.25); /* Opera */
    transform: scale(1.25);
    padding: 10px;
}


