.ui-corner-all{
    text-align: left;
    font-family: Optima !important;
    font-weight: normal;
    font-size: 24px;
}

.ui-corner-all .ui-state-hover{
    border-color: white !important;
    background-color: rgba(255, 0, 255, 0.3) !important;
}



 (max-width: 576px) {
}

