:focus {outline:none;}
::-moz-focus-inner {border:0;}

.icon-bar{
    width: 32px;
    height: 2px;
    background-color: rgba(102, 51, 102, 0.9);
    display: block;
    transition: all 0.2s;
    margin: 10px 6px;
    border: 0;
}

.navbar-menu{
    height: 44px;
}

.navbar-toggler{
    border: none !important;
    width: 44px;
    height: 44px;
}

.navbar-toggler .icon-bar-top{
    transform: translate(0, 6px) rotate(45deg);
    transform-origin: 50% 50%;
}

.navbar-toggler .icon-bar-bottom{
    transform: translate(0, -6px) rotate(-45deg);
    transform-origin: 50% 50%;
}

.collapsed .icon-bar-top{
    background-color: black;
    transform: rotate(0) !important;
}

.collapsed .icon-bar-bottom{
    background-color: black;
    transform: rotate(0);
}

.navbar-header{
    float: left;
    padding: 0;
    text-align: center;
    width: 100%;
}

.nav-link{
    font-size: 2rem;
}


.navbar-brand{
    float:none;
    font-size:2.5rem;
    padding: 0;
    margin-bottom: 14px;
}


@media (max-width: 576px) {
    .navbar-brand{
        font-size:24px;
        margin-bottom: 8px;
    }
    .navbar-menu{
        height:38px;
    }
    .navbar-toggler{
        height:38px;
    }
    .nav-link{
        font-size: 24px;
    }


}
