{% extends "common/base-info.html" %}
{% load static %}

{% block headerFiles %}
{% endblock %}

{% block content %}

    <img width="100%" class="img-fluid" id="img" src="{%get_media_prefix%}{{banner}}">

    <div class="title"> {{title}} </div>
    <p>
        {{info|safe}}
        <a class="plink" href = "mailto:{{email}}" target="_blank"> {{email}} </a>
    </p>

    <div class="title" >
        <span style="padding-right: 0.4rem;">{{social.title}}</span>
    </div>
    <p>
        {% include "contact/social.html" %}
    </p>

    <div class="title">license</div>
    <p class="pb-4">
        This website is built and maintained using exclusively Free and Open Source Software. Its <a href="{{source.link}}" target="_blank">source code</a> is licensed under the GNU General Public License v3.0.
        <br> <br>
        <!-- <span> source code&thinsp;: </span> -->
        <!-- <a style="font-weight: normal;" href="{{social.gitlab}}" target="_blank">{{social.gitlab}}</a><br> -->
        webmistress&thinsp;:
        <a style="font-weight: normal;" href="mailto:qynn@riseup.net"> qynn@riseup.net </a>
        <br>
        graphics&thinsp;:
        <a style="font-weight: normal;" href="{{credits.link}}" target="_blank"> {{credits.info}} </a>
    </p>

{% endblock %}

