{% load static %}
{% if social.facebook %}
    <!-- Facebook -->
    <a class="social-icon" href="{{social.facebook}}" target="_blank"><img src="{% static 'img/social/facebook.png' %}" alt="" width="32" height="32" title="Facebook"></a>
{% endif %}
{% if social.twitter %}
    <!-- Twitter -->
    <a class="social-icon" href="{{social.twitter}}" target="_blank"><img src="{% static 'img/social/twitter.png' %}" alt="" width="32" height="32" title="Twitter"></a>
{% endif %}
{% if social.instagram %}
    <!--Instagram-->
    <span>
        <a href="https://www.instagram.com/{{social.instagram}}" target="_blank"><img src="{% static 'img/social/instagram.png' %}" alt="" width="32" height="32" title="instagram"></a>
        <a href="https://www.instagram.com/{{social.instagram}}" target="_blank">
            @{{social.instagram}}</a>
    </span>
{% endif %}
{% if social.gitlab %}
    <!--Gitlab-->
    <a class="social-icon" href="{{social.gitlab}}" target="_blank"><img src="{% static 'img/social/gitlab.png' %}" alt="" width="32" height="32" title="Gitlab"></a>
{% endif %}
