{% extends "common/base-info.html" %}
{% load static %}

{% block headerFiles %}
{% endblock %}

{% block content %}

<img width="100%" class="img-fluid pb-2" id="img" src="{%get_media_prefix%}{{banner}}">

{% include "common/messages.html" %}

<div class="title"> {{title}} </div>
<p>
    {{info|safe}}
    <!-- <a href = "mailto{{email}}" target="_blank"> {{email}} </a> -->
</p>

<!-- {% include "footer/contact_us.html" %} -->
{% endblock %}
