{% load static %}
<h5> <b> <a href="/about">about us</a> </b> </h5>
<h5> <b> <a href="/contact">contact</a> </b> </h5>
{% if user.is_authenticated %}
    <h5> <b> <a href="/meet">schedule</a> </b> </h5>
{% endif %}
{% if user.trusted %}
    <h5> <b> <a href="/pod">pod</a> </b> </h5>
{% endif %}
