.invert{
    filter: invert(80%);
    -webkit-filter: invert(80%);
}

.faded{
    filter: invert(20%);
    -webkit-filter: invert(20%);
}
.contact:hover{
    text-decoration: none;
    text-decoration-color:#ff00ff;
    padding: 2px 4px;
    border-bottom: none;
}

.contact{
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 4px solid #ff00ff;
}
