.alert {
    font-family: Optima;
    font-size: 18px;
    padding-left: 1rem !important;
    color: #ff00ff;
    border: none;
    background-color: white;
}

ul.safety {
    /* list-style-type: square; */
    list-style-image: url('bullet.png');
    padding-left:1.5rem;
}

ol.safety {
    padding-left:1.5rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.edit-link, .edit-title {
    font-size: 75%;
    color: rgba(102, 51, 102, 0.9);
    font-weight: normal;
}

.edit-link:hover{
    text-decoration: none;
    color: #ff00ff;
}

.login-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.card-header {
    margin-top: 1rem;
    padding: 1rem 0 0.6rem 0;
}

.card {
    border: none;
}

.mute{
    filter: invert(50%);
    -webkit-filter: invert(50%);
}

.plink:hover{
    text-decoration: none;
    text-decoration-color:#ff00ff;
    border-bottom: none;
}

.plink{
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 3px solid #ff00ff;
}

.social-icon{
    padding-right: 0.8rem;
}

.btn-primary {
    font-size: 1.5rem;
    text-align: left;
    padding: 4px 15px 0 15px !important;
    color: black;
    background-color: white;
    border-color: #ff00ff;
    border-bottom: 2px solid #ff00ff;
}

.btn.btn-primary.dropdown.show {
    background-color: white;
    border-color: white;
    border-left: 2px solid #ff00ff;
    padding-left: 14px !important;
}

.btn-primary:hover {
    background-color: white;
    border-color: white;
    border-left: 2px solid #ff00ff;
    color: black;
    padding-left: 14px !important;
}

.btn-primary.dropdown-toggle {
    color: black;
    background-color: white; !important
}
.btn-primary .show{
    background-color: white;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: black;
    background-color: white;
    border-color: white;
}

@media (max-width: 576px) {
    body{
        font-size: 1rem;
    }
    .title {
        font-size: 1.25rem;
        margin-top: 2rem;
        margin-bottom: 0.75rem;
    }
    .col-0{
        visibility: hidden;
        height: 0rem;
    }
    .plink{
        border-bottom: 2px solid #ff00ff;
    }
    ul.safety {
        list-style-image: url('bullet.png');
        padding-left:1rem;
    }
    ol.safety {
        padding-left:1rem;
    }
}

textarea,
input[type="password"]{
    width: 100%;

}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus{
    border-color: rgba(255, 0, 255, 0.3);
    box-shadow: none !important;
    outline: 0 none;
}

/* textarea, */
/* input[type="text"], */
/* input[type="password"], */
/* input[type="datetime"], */
/* input[type="datetime-local"], */
/* input[type="date"], */
/* input[type="month"], */
/* input[type="time"], */
/* input[type="week"], */
/* input[type="number"], */
/* input[type="email"], */
/* input[type="url"], */
/* input[type="search"], */
/* input[type="tel"], */
/* input[type="color"], */
/* .uneditable-input { */

/* } */
