{% extends "common/base-bootstrap.html" %}
{% load static %}
{% block head %}
<script src="{% static "js/login.js" %}"></script>
<link rel="stylesheet" href="{% static "common/common.css" %}">
<link rel="stylesheet" href="{% static "pod/profile.css" %}">

{% endblock %}
{% block body %}
<div class="container">
    <div class="row justify-content-center mt-0">
        <div class="col-lg-5">
            <div class="card">
                <div class="card-header bg-warning text-center">
                    <span class="login-title"> m&middot;a&middot;g&middot;i&middot;q&middot;u&middot;e&middot; </span>
            </div>

            <div class="card-body p-0">
                {% block login-title%}
                    <div class="title"> member login </div>
                {% endblock %}

                {% block login-info %}
                {% endblock %}

                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}

                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ error }}
                                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">x</span></button>
                            </div>


                {% endfor %}
                {% endif %}

                {% if user.is_authenticated %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        You are currently authenticated as {{ user.username }}. It is possible you are not authorized to access this page.
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                    </div>

                {% endif %}

                <div id="error">
                </div>
                <form method="post">
                {% csrf_token %}

                <!--{{ form.as_p }}-->

                {% comment %}
                ////////////////////////////////////////////////////////////////////////
                a script in static/js/login.js will add the class form-control to the
                input node created by {{ form.username }} and {{ form.password}}. This
                let us use the built in form formating in bootstrap
                ////////////////////////////////////////////////////////////////////////
                {% endcomment %}

                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">username</label>
                    {{ form.username }}
                </div>

                <div class="form-group mb-4">
                    <label for="{{ form.password.id_for_label}}">password</label>
                    {{ form.password}}
                </div>

                <button type="submit" class="btn btn-primary btn-login py-2 mb-4">Login</button>
                </form>
                *if you are not yet registered, please <a class="plink" href="/contact">contact us</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}
