{% extends "common/base-bootstrap.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static "pod/profile.css" %}">
    <link rel="stylesheet" href="{% static "common/common.css" %}">
    {% block headerFiles %}
    {% endblock %}
{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            {% include "header/header.html" %}

            {% block content %}
            {% endblock %}

        </div>
    </div>
</div>

{% endblock %}
