
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% include "common/bootstrapFiles.html" %}
    <script src="{% static "js/alert.js" %}"></script>
    <script src="{% static 'header/active-item.js' %}"></script>
    <link rel="stylesheet" href="{% static "header/header.css" %}">
    <link rel="stylesheet" href="{% static "common/common.css" %}">

  {% block head %}
  {% endblock %}

</head>

<body>
    {% block body %}
    {% endblock %}
</body>
