{% extends "common/base-bootstrap.html" %}
{% load static %}
{% block head %}
    <!-- <script src="{% static "home/scroll.js" %}"></script> -->
    <link rel="stylesheet" href="{% static "common/common.css" %}">
    {% block headerFiles %}
    {% endblock %}
{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            {% include "header/header.html" %}

            {% block content %}

            {% endblock %}
        </div>

    </div>
</div>



{% endblock %}
