{% load static %}

<meta charset="utf-8">
<link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.min.css" %}">
<!-- <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.css" %}"> -->
<script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap/bootstrap.min.js" %}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
