
{% if messages %}
    {% for message in messages %}
        <div class="px-0 alert alert-warning alert-dismissible fade show"
            role="alert">
            <button type="button" class="close"
                    data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message.tag}}
            {{message}} <br>
        </div>
    {% endfor %}
{% endif %}
