.alert {
    font-family: Optima;
    color: #ff00ff;
    background-color: white;
}
.card-body {
    font-size: 1.5rem;
    border: none;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.btn-save{
    width: 100%;
    text-align: center;
}

.help{
    color: rgba(102, 51, 102, 0.9);
    padding-left: 0.5rem;
    font-size: 75%;
}

.btn-save:hover,
.btn-login:hover{
    background-color: #ff00ff !important;
    color: white !important;
    border-color: white !important;
}

@media (max-width: 576px) {
    .btn-password{
        font-size: 1rem;
    }
}

