{% extends "common/base-info.html" %}
{% load static %}
<meta charset="utf-8">

{% block headerFiles %}
{% endblock %}

{% block content %}

<img width="100%" class="img-fluid pb-2" id="img" src="{%get_media_prefix%}{{banner}}">

<div class="title">{{title|safe}}</div>
<p>
    {{about|safe}}
</p>

<div class="title">mandate</div>
<p>
<!-- <ul class="about"> -->
    {{mandate|safe}}
<!-- </ul> -->
</p>

{% include "footer/contact_us.html" %}

{% endblock %}

