{% extends "common/base-profile.html" %}
{% load static %}

{% block headerFiles %}
{% endblock %}

{% block content %}

<div class="title">password modification</div>

<form method="post">
    {% csrf_token %}
    <!-- {{form.as_p}} -->
    <ul>
        <li>your password must contain at least 8 characters.</li>
        <li>the longer the better, really.</li>
        <li>use a mixture of upper and lower case letters, numbers and symbols.</li>
        <li>never use twice the same password on different platforms.</li>
        <li>consider using a <a href="https://passwordsgenerator.net/" target="_blank">password generator</a>.</li>
        <li>if you don't already, consider using a <a href="https://keepass.info/download.html" target="_blank">password manager</a>.</li>
    </ul>
    <br>
    current password <br>
    {{form.old_password}} <br>
    <br>

    new password <br>
    {{form.new_password1}} <br>
    <br>

    confirm new password <br>

    {{form.new_password2}} <br>
    <br>


    <!-- Back/Save  -->
    <div class="container-fluid px-0">
        <div class="row justify-content-between">
            <div class="col-5 col-md-4">
                <a class="btn btn-primary btn-save btn-password" href={{back}}>cancel</a>
            </div>
            <div class="col-5 col-md-4" >
                <button class="btn btn-primary btn-save btn-password" type="submit">save</button>
            </div>
        </div>
    </div>

</form>

<br>
<br>

{% endblock %}
