{% extends "common/base-profile.html" %}
{% load static %}
{% block headerFiles %}
<script src="{% static 'pod/dropdown.js' %}"></script>
{% endblock %}

{% block content %}

<div class="title">{{title}}</div>

{% include "common/messages.html" %}

{% if pod %}
    <ul style="list-style-type: none; margin: 0; padding: 0;">
        {% for m in pod %}
        <li>
            {% include "pod/pod_info.html" %}
        </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
