{% load static %}

    <a id="btn_{{m.id}}" class="btn btn-primary btn-pod dropdown" data-toggle="collapse" href="#form_{{m.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
        {{m.name}}
    </a>

<div class="collapse" id="form_{{m.id}}">
    <div class="card card-body" style="padding: 0 1rem; border:none">
        {{m.pronouns}} <br>

    {% if user.trusted %}

            {% if m.phone %}
            <span>
                <img src="{% static 'img/social/phone.png' %}" alt="" width="24" height="24" title="phone"></img>
                <b>{{m.phone}}</b><br>
            </span>
            {% endif %}
            {% if m.email %}
            <span>
                <a href="mailto:{{m.email}}" target="_blank"><img src="{% static 'img/social/email.png' %}" alt="" width="24" height="24" title="email"></a>
                <a href="mailto:{{m.email}}" target="_blank">
                    {{m.email}}</a>
            </span>
            {% endif %}
            {% if m.facebook %}
            <span>
                <a href="https://www.facebook.com/{{m.facebook}}" target="_blank"><img src="{% static 'img/social/facebook.png' %}" alt="" width="24" height="24" title="facebook"></a>
                <a href="https://www.facebook.com/{{m.facebook}}" target="_blank">
                    {{m.facebook}}</a>
            </span>
            {% endif %}
            {% if m.instagram %}
            <span>
                <a href="https://www.instagram.com/{{m.instagram}}" target="_blank"><img src="{% static 'img/social/instagram.png' %}" alt="" width="24" height="24" title="instagram"></a>
                <a href="https://www.instagram.com/{{m.instagram}}" target="_blank">
                @{{m.instagram}}</a>
            </span>
            {% endif %}
            {% if m.twitter %}
            <span>
                <a href="https://www.twitter.com/{{m.twitter}}" target="_blank"><img src="{% static 'img/social/twitter.png' %}" alt="" width="24" height="24" title="twitter"></a>
                <a href="https://www.twitter.com/{{m.twitter}}" target="_blank">
                    @{{m.twitter}}</a>
            </span>
            {% endif %}
        {% endif %}

    </div>
</div>
<br>
