{% extends "common/base-profile.html" %}
{% load static %}

{% block headerFiles %}
<script src="{% static 'pod/dropdown.js' %}"></script>
{% endblock %}

{% block content %}

<div class="title">{{title}}</div>

{% include "common/messages.html" %}

<form id="profile-form" method="post">
    {% csrf_token %}

    {% for f in form %}
        <a id="btn_{{f.name}}" class="btn btn-primary dropdown" data-toggle="collapse" href="#form_{{f.name}}" role="button" aria-expanded="false" aria-controls="collapseexample">
            {{f.name}}
        </a>
        <div class="collapse" id="form_{{f.name}}" .id}}">
            <div class="card card-body">
                {% if f.help_text %}
                    <span class="help">*{{f.help_text}}</span>
                    {% endif %}
                {{f}}
            </div>
        </div>
        <br>
    {% endfor %}

    <!-- Back/Save  -->
    <div class="container-fluid px-0">
        <div class="row justify-content-between">
            <div class="col-5 col-md-4">
        <a class="btn btn-primary btn-save" href={{back}}>cancel</a>
            </div>
            <div class="col-5 col-md-4" >
                <button class="btn btn-primary btn-save" type="submit">save</button>
            </div>
        </div>
    </div>

</form>

<!-- Password -->
<p style="margin: 3rem 0;">
    <a class="edit-link" href="/profile/password">* change password</a>
</p>

{% endblock %}
