{% extends "common/base-info.html" %}
{% load static %}
<meta charset="utf-8">

{% block headerFiles %}
{% endblock %}

{% block content %}

<img width="100%" class="img-fluid pb-2" id="img" src="{%get_media_prefix%}{{banner}}">

<div class="title">{{title|safe}}</div>
<p>
    {{safety|safe}}
</p>

<div class="title">guidelines</div>
<p>
    <ol class="safety">
        {{guidelines|safe}}
    </ol>
</p>

{% include "footer/contact_us.html" %}

{% endblock %}

